<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800' rel='stylesheet'>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Perfectice - Certificate</title>
	</head>
	<body style="margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;">
		<div id="background">
			<div id="Background">
				<img class ="img" style='height:622px;
	width:880px;' src="https://user-images.githubusercontent.com/34160672/53386713-5207a600-39a9-11e9-8df8-74b605edf1bd.jpg">
				<span class="main" style='
                height:200px;
	width:600px;
	position:fixed;
	left:160px;
	top:150px;
	text-align:center;
	font-size:36px;
	letter-spacing: 4px;
	font-weight: 600;'>CERTIFICATE</span>
				<span class="main1" style='height:200px;
	width:600px;
	position:fixed;
	left:162px;
	top:195px;
	text-align:center;
	font-size:26px;
	letter-spacing: 4px;
	font-weight: 500;'>OF COMPLETION</span>
				<span class="content1" style='height:200px;
	width:500px;
	position:fixed;
	left:200px;
	top:260px;
	font-size:16px;
	letter-spacing: 2px;
	text-align:center;
	font-weight: 500;'>This certificate is hereby presented to </span>
				<span class="name" style='height:200px;
  width:600px;
	position:fixed;
	left:160px;
	top:290px;
	font-size:24px;
	text-align:center;
	letter-spacing: 4px;
	font-weight: 600;'>{{student}}</span>
				<span class="content2" style='height:200px;
	width:600px;
	position:fixed;
	left:145px;
	top:330px;
	font-size:16px;
	letter-spacing: 2px;
	line-height: 24px;
	text-align:center;
	font-weight: 500;'>for successfully completing <b>{{level}} of {{package}}</b> assessed by Perfectice</span>
				<span class="date" style='
                height:200px;
  width:200px;
	position:fixed;
  left:95px;
  top:390px;
	font-size:16px;
	letter-spacing: 2px;
	line-height: 110px;
	text-align:center;
	font-weight: 500;'>{{certdate}}</span>
				<span class="footer" style='width:600px;
	position:fixed;
	left:150px;
	top:550px;
	font-size:14px;
	letter-spacing: 1px;
	text-align:center;
	font-weight: 500;'>To validate or download the certificate visit https://lpu.myperfectice.com/cert/</span>
			</div>
		</div>
 </body>
 </html>